@* Licensed to the Douglife (Doug Montgomery) under one or more agreements. *@
@* The Douglife (Doug Montgomery) licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<div class="details-heading">
    <h2>Device details</h2>
    <p>Diagnostic information reported by the device.</p>
</div>

@if (_deviceInfo != null)
{
    <dl class="details-list">
        <div><dt>Name</dt><dd>@_deviceInfo.Name</dd></div>
        <div><dt>Vendor</dt><dd>@_deviceInfo.Vendor</dd></div>
        <div><dt>Type</dt><dd>@_deviceInfo.Type</dd></div>
        <div><dt>Index</dt><dd>@_deviceInfo.Index</dd></div>
        <div><dt>Description</dt><dd>@_deviceInfo.Description</dd></div>
        <div><dt>Version</dt><dd>@_deviceInfo.Version</dd></div>
        <div><dt>Serial</dt><dd>@_deviceInfo.Serial</dd></div>
        <div><dt>Location</dt><dd>@_deviceInfo.Location</dd></div>
    </dl>
}
